body {
  background-color: black;
  color: white;
  text-align: center;
}
.main {
  float: left;
}
.element {
  float: left;
  width: max-content;
  margin: 30px;
}
.element img {
  width: 200px;
  height: 200px;
  box-shadow: -10px -5px 5px gold;
  border: 1px double gold;
}
.element h4 {
  height: 5px;
}
.element img:hover {
  box-shadow: -10px -5px 5px white;
}
